<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger" role="alert"> <%= msg %> </div>
  <% end %>
<% end %>
  <%= simple_form_for @post, :html => {multipart: true, :class => 'mui-form'} do |f|  %>
      <div class="mui-textfield">
        <%= f.text_field(:title, {:placeholder => 'Title', :required => true}) %>
      </div>
      <div class="mui-textfield">
        <%= f.text_area(:body, {:placeholder => 'Body', :required => true}) %>
      </div>
      <div class="mui-textfield">
        <!-- %= f.label :tag_list %-->
        <%= f.text_field(:tag_list, {:placeholder => 'Add New Tag List' }) %>
        <p>
          <span><i><small>Or Select From Tag IDs Below</small></i></span>
        </p>
      </div>
      <div class="mui-custom-select">
        <p>
         <%= f.input :tag_ids, as: :select, collection: Tag.order(:name), label_method: :name, input_html: {multiple: true, :class => 'chosen-select mui-select'} %>
       </p>
      </div>
      <p>
        <% if @post.image.exists? %>
            <%= image_tag @post.image.url(:medium) %><br/>
        <% end %>
        <%= f.label :image, "Attach a New Image" %><br />
        <%= f.file_field :image %>
      </p>
      <br>
      <p>
        <span><%= f.submit({:class => 'mui-btn mui-btn--primary'}) %></span>
          &nbsp;
        <span><%= link_to "Go Back To Posts", posts_path, {:class => 'mui-btn mui-btn--raised'} %></span>
      </p>
  <% end %>
