

<div class="mui-container-fluid">
  <div class="mui-row">
      <div class="mui-col-xs-12 mui-col-md-10 mx-auto">
          <div class="mui-panel my-3 justify-content">
            <h1><%= @post.title %></h1>
            <p>
              Tags:
              <span class="trigger blue lighten-4">
                <!-- %= link_to tag.name, tag_path(tag) %-->
                <%= raw @post.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
              </span>
            </p>
            <p><%= image_tag @post.image.url, :class => "BloPostImg" %></p>
            <br>
            <p><%= @post.body %></p>
            <br>
            <p>Posted By: <b><%= @post.author.name %></b></p>
            <p>Posted: <b><%= time_ago_in_words @post.created_at %> ago</b> </p>
            <br>
            <div class="mui-divider"></div>
            <br>
            <% if logged_in? %>
              <div class="btn-group">
                <%= link_to "Back To Post", posts_path, :class => 'mui-btn mui-btn--small mui-btn--raised mr-1 rounded-0'  %>
                <%= link_to 'Edit Post', edit_post_path(@post), :class => 'mui-btn mui-btn--small mui-btn--primary mr-2 rounded-0' %>
                <%= button_to("Delete Post", {}, {:onclick => "return confirm('Are you sure?')", :method => :delete, :remote => true, :class => 'mui-btn mui-btn--small mui-btn--danger rounded-0'}) %>
                  <!-- %= button_to("Delete Post", {}, {:onclick => "return confirm('Are you sure?')", :method => :delete, :remote => true, :class => 'mui-btn mui-btn--danger'}) % -->
              </div>
            <% end %>
          </div>
          <br>
      </div>
  </div>
</div>
<br>
<h3>Comments (<%= @post.comments.size %>) </h3>
<%= render partial: 'posts/comment', collection: @post.comments.reverse %>

<div class="mui-container-fluid">
  <div class="mui-row">
      <div class="mui-col-xs-12 mui-col-md-10 mx-auto">
        <% if logged_in? %>
          <%= render partial: 'comments/form' %>
          <% else %>
          <h5><%= link_to "Login", login_path %> to Comment on this Post</h5>
        <% end %>
      </div>
  </div>
</div>
