

<div class="mui-container-fluid">
  <div class="mui-row">
      <div class="mui-col-xs-12 mui-col-md-10 mx-auto">
          <div class="mui-panel my-3 justify-content">
            <h1><%= @post.title %></h1>
            <p>
              Tags:

                <% @post.tags.each do |tag| %>
                  <span class="trigger blue lighten-4">
                    <%= link_to tag.name, tag_path(tag) %>
                  </span>
                <% end %>
            </p>
            <p><%= image_tag @post.image.url, :class => "BloPostImg" %></p>
            <p><%= @post.body %></p>
            <br>
            <div class="mui-divider"></div>
            <br>
            <% if logged_in? %>
              <span><i class="fa fa-arrow-left fa-1x"></i> <%= link_to "Go Back To Posts", posts_path %></span>
              &nbsp; | &nbsp;
              <span><i class="fa fa-edit fa-1x"></i> <%= link_to 'Edit This Post', edit_post_path(@post) %></span>  &nbsp; | &nbsp;
              <span><i class="fa fa-trash fa-1x"></i> <%= link_to 'Delete This Post', post_path(@post), method: :delete, data: {confirm: "Are You Sure?"} %></span>
            <% end %>
          </div>
          <br>
      </div>
  </div>
</div>
<br>
<h3>Comments (<%= @post.comments.size %>) </h3>
<%= render partial: 'posts/comment', collection: @post.comments.reverse %>
<%= render partial: 'comments/form' %>
